<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>How to improve your financial grammar</title>
    <link href="../static/css/articles.css" th:href="@{/css/articles.css}" rel="stylesheet" />
</head>
<body>
<div class="article">
    <video autoplay loop class="article-background-video" muted playsinline>
        <source src="videos/background-video.mp4" type="video/mp4">
    </video>
    <div class="article-title">
        <h1>How to improve your financial grammar</h1>
    </div>
    <div class="article-text">
        <p class="article-points">Educate yourself</p>
        <p class="article-content">You should start learning about personal finances, create more knowledge about this topic, this is the best way to create confidence to correctly manage your money and have a deposit that will get you out of trouble.</p>
        <p class="article-points">Create a budget</p>
        <p class="article-content">Make a plan, a budget of your finances, this will help you monitor your monthly income and expenses, you can help yourself with digital tools such as apps or go back to the old school with an Excel document. Make sure you're not spending more than you earn and that you can save to meet your goals.</p>
        <p class="article-points">Pay your debts</p>
        <p class="article-content">Set yourself the goal of paying your debts as soon as possible, start by creating a list of all your debts, include a current advance of your income, the minimum payment you must make monthly and the interest rate of the house debt. After having all this information ready, determine how much money you can add to your debt payments. It is worth doing research on strategies to reduce debt and it is important that you have savings for emergencies.</p>
        <p class="article-points">Build your savings plan</p>
        <p class="article-content">Set yourself the goal of saving for a year, start investing in something that will later return your savings with a little more money. There are so many strategies to secure our money, you just have to find the one that best suits you and your needs [1].</p>
        <p class="article-points">Develop and Maintain a Budget</p>
        <p class="article-content">Ensure that your finances are well planned. You can use both offline and online tools to manage your finances. Carry out an analysis and evaluation of your net worth regularly. Knowing your net worth will help you determine where you currently stand financially [2].</p>
        <p class="article-sources">Sources</p>
    </div>
    <div class="article-sources-content">
        <p>1. 5 tips that will help you improve your personal finances. URL: https://www.entrepreneur.com/money-finance/5-tips-that-will-help-you-improve-your-personal-finances/424524 (approached: 05.11.2022)</p>
        <p>2. 6 Tips for Improving Your Personal Finance Skills. URL: https://www.skillsyouneed.com/rhubarb/improve-personal-finance.html (approached: 05.11.2022)</p>
    </div>
</div>
</body>
</html>